.container{
    align-items: center;
    justify-content: center;
    display: flex;
}

.flexcolumn{
    flex-direction: column;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#humidity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }
  
#humidity-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }

  #wind-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }
  
#wind-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }


  .slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px;
    width: 25vw;
    background:aqua;
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  .slider-temp{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px;
    width: 40vh;
    /* background:aqua; */
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  .vertical-slider{
    transform: rotate(-90deg);
    translate: 0px 150px;
  }

  #temperature-div{
    height: 250px;

  }