.container{
    align-items: center;
    justify-content: center;
    display: flex;
}

.flexcolumn{
    flex-direction: column;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#humidity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }
  
#humidity-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: url(waterDrop.png);
    background-size: 25px;
    cursor: pointer;
  }

  #wind-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background: url(wind.png);
    background-size: 35px;
    cursor: pointer;
  }
  
#wind-slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    background: url(wind.png);
    background-size: 35px;
    cursor: pointer;
  }

  #temp-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:75px;
    height: 75px;
    background: url(sun.png);
    background-size: 75px;
    cursor: pointer;
  }
  
#temp-slider::-moz-range-thumb {
    width: 75px;
    height: 75px;
    background: url(sun.png);
    background-size: 75px;
    cursor: pointer;
  }



  .slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px;
    width: 25vw;
    background:aqua;
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  .slider-temp{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px;
    width: 40vh;
    background: linear-gradient(-90deg, red, yellow);
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  .vertical-slider{
    transform: rotate(-90deg);
    translate: 0px 150px;
  }

  #temperature-div{
    height: 250px;

  }

  #temp-amount{
    translate: 0px 275px;
  }


  @keyframes leafAnimation {
    0%   {transform: translate(-10vw, 0) rotate(0);}
    20%  {transform: translate(15vw, 10vh) rotate(85deg);}
    65%  {transform: translate(55vw, 12vh) rotate(550deg);}
    75%  {transform: translate(70vw, 17vh) rotate(740deg);}
    100% {transform: translate(110vw, 25vh) rotate(920deg)}
  }

  .leaf{
    position: absolute;
    z-index: 2;
    animation-name: leafAnimation;
    animation-duration: 12s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    height: 100px;
    width: auto;
  }

#humidity-filter{
    z-index: 3;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    opacity: 50%;
}

#wind-direction-div{
    height: 150px;
    width: auto;
    translate: 75vw 0px;
}
#wind-direction{
    height: 150px;;
    width: auto;
    transform: rotate(0deg);
}